.disp {
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.output {
  background-color: lightgreen;
  text-align: left;
}

.error {
  background-color: lightcoral;
  text-align: left;
  color: white;
}

.return_code {
  border-radius: 10px;
  padding: 10px;
  text-align: middle;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
