.disp {
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.output {
  background-color: #00d1b2;
  text-align: left;
}

.error {
  background-color: lightcoral;
  text-align: left;
  color: white;
}

.output_metadata {
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.title {
  line-height: 200%;
}

.return_code {
  float: left;
  margin-right: auto;
  margin-left: 15%;
}