#output_from_client {
  font-family: monospace;
  padding: 20px;
}

#command{
  font-family: monospace;
}

#client_ID {
  padding: 3px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  background-color: teal;
}
