<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Command Sender</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
      integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Commanding Server
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Logout</strong>
              </a>
              <a class="button is-danger" id="action_disconnect">
                Disconnect
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Commanding Server
          </h1>
          <h2 class="subtitle">
            I will command everyone !
          </h2>
        </div>
      </div>
    </section>

    <div class="container is-block">
      <section class="section">
        <div class="box">
          <div class="is-primary is-text-3" style="font-family: monospace;">Send Command To :</div>
          <div class="field">
            <div class="control">
              <input
                type="text"
                id="client_ID"
                class="input is-primary"
                placeholder="Client ID"
                required
              />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                type="text"
                id="command"
                class="input is-primary"
                placeholder="Command"
                required
              />
            </div>
          </div>

          <button id="sendCommand" class="button is-primary is-fullwidth">
            Command
          </button>
        </div>


        <div class="box" id="when_clients_attends">
          <p class="is-size-4 has-text-centered has-text-primary">
            Output
          </p>
          <p id="output_from_client" class="has-text-centered">
            Nothing to show !
          </p>

          <div class="table-container">
            <table class="table is-hoverable is-fullwidth" id="clients_list">
              <thead>
                <tr>
                  <th scope="col">Client ID</th>
                  <th></th>
                  <th scope="col">Password</th>
                  <th scope="col">Session ID</th>
                  <th scope="col">IP Address</th>
                </tr>
              </thead>
              <tbody id="connected_clients"></tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
